<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>I♥Cineforos - Inicio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- ENCABEZADO -->
    <header class="encabezado">

        <div class="contenedor encabezado-contenido">

            <div class="logo">
                <h1>I♥Cineforos</h1>
            </div>

            <!-- NAVEGACIÓN -->
            <nav class="navegacion">

                <a href="{{ url_for('inicio') }}">
                    Inicio
                </a>

                <a href="{{ url_for('formulario') }}">
                    Registrarse
                </a>

            </nav>

        </div>

    </header>


    <!-- CONTENIDO PRINCIPAL -->
    <main>

        <!-- PRESENTACIÓN -->
        <section class="hero">

            <div class="contenedor">

                <div class="hero-contenido">

                    <h2>
                        Formulario de participación en cineforo
                    </h2>

                    <p>
                        ¡Bienvenido a nuestro sitio web! Aquí puedes
                        registrarte para participar en nuestro cineforo
                        y compartir tus opiniones sobre las películas
                        que proyectamos. 
                    </p>

                    <a class="boton"
                       href="{{ url_for('formulario') }}">
                        Registrarme al cineforo
                    </a>

                </div>

            </div>

        </section>


        <!-- INFORMACIÓN DEL EVENTO -->
        <section class="informacion">

            <div class="contenedor">

                <h2>Información de nuestro próximo cineforo</h2>

                <div class="tarjetas">

                    <div class="tarjeta">

                        <h3>Película</h3>

                        <p>
                            La próxima proyección será de la película
                            <strong>"Die Welle" (La Ola)</strong>.
                            <br>
                            Director: Dennis Gansel
                            <br>
                            Año de lanzamiento: 2008
                            <br>
                            Género: Suspenso/Crimen
                            <br>
                            Duración: 1h 47min
                            <br>
                            Sinopsis: Un profesor de secundaria realiza un experimento social con sus alumnos para demostrar cómo se puede manipular a las masas y cómo surgen los movimientos totalitarios. La película está basada en hechos reales y plantea preguntas sobre la naturaleza humana y la responsabilidad individual en la sociedad. 
                        </p>

                    </div>


                    <div class="tarjeta">

                        <h3>Fecha y hora</h3>

                        <p>
                            15 de junio a las 7:00 PM.
                        </p>

                    </div>


                    <div class="tarjeta">

                        <h3>Entrada</h3>

                        <p>
                            La entrada es completamente gratuita,
                            pero es necesario registrarse previamente para apartar tu silla y lugar (todos son buenos, así que tranquilo).
                        </p>

                    </div>


                    <div class="tarjeta">

                        <h3>Ubicación</h3>

                        <p>
                            Calle 123, Carrera 123, Bogotá D.C., Colombia.
                        </p>

                    </div>

                </div>

            </div>

        </section>


        <!-- NORMAS -->
        <section class="normas">

            <div class="contenedor">

                <h2>Sobre el cineforo</h2>

                <div class="texto-normas">

                    <p>
                        Puedes llevar tu propia bebida y comida para
                        disfrutar durante la proyección. También habrá
                        opciones de comida y bebida disponibles para
                        su compra en el lugar.
                    </p>

                    <p>
                        El cineforo es un espacio de respeto y tolerancia.
                        Por ello, pedimos a todos los participantes que
                        mantengan una actitud respetuosa hacia los demás
                        asistentes y hacia las opiniones expresadas
                        durante la discusión posterior a la proyección.
                    </p>

                    <p>
                        Las discusiones deben estar argumentadas y,
                        como se mencionó, ser respetuosas para que todos podamos 
                        compartir ideas de manera constructiva nuestro amor por el cine.
                        <br>
                        Finalmente, pedimos a todos los participantes que apaguen sus teléfonos móviles y otros dispositivos electrónicos durante la proyección para no interrumpir la experiencia de los demás, a la par que guardan silencio para moverse o salir en caso de necesitar ir al baño o alguna otra circunstancia. Igualmente, se solicita que se mantenga el orden y la disciplina durante toda la actividad y el silencio al momento de comer. Cabe aclarar que la participación en el debate es voluntaria y se espera que todos los asistentes respeten las reglas del espacio.
                    </p>

                </div>

            </div>

        </section>


        <!-- PERSONAS REGISTRADAS -->
        <section class="registros">

            <div class="contenedor">

                <h2>Personas registradas</h2>

                {% if contactos %}

                    <div class="lista-contactos">

                        {% for contacto in contactos %}

                            <div class="contacto">

                                <div class="contacto-cabecera">

                                    <h3>
                                        {{ contacto["nombre"] }}
                                    </h3>

                                </div>

                                <div class="contacto-contenido">

                                    <p>
                                        <strong>Correo:</strong>
                                        {{ contacto["correo"] }}
                                    </p>

                                    <p>
                                        <strong>Mensaje:</strong>
                                        {{ contacto["mensaje"] }}
                                    </p>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                {% else %}

                    <div class="sin-registros">

                        <p>
                            Todavía no hay personas registradas.
                        </p>

                        <a class="boton"
                           href="{{ url_for('formulario') }}">
                            Sé el primero en registrarte
                        </a>

                    </div>

                {% endif %}

            </div>

        </section>

    </main>


    <!-- PIE DE PÁGINA -->
    <footer class="pie">

        <div class="contenedor">

            <p>
                I♥Cineforos - Bogotá D.C., Colombia
                <br>
                Made with ❤️ by SoftNova
            </p>

        </div>

    </footer>

</body>

</html>